# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Frontend
node_modules/
frontend/node_modules/
frontend/dist/
dist/
dist-ssr/
*.log
logs/
bore

# Environment variables
.env
.env.*
!.env.example

# DICOM binaries and medical images
*.dcm



