fastapi>=0.111.0
uvicorn>=0.29.0
sqlalchemy>=2.0.30
alembic>=1.13.1
pydicom>=2.4.3
pynetdicom>=2.0.2
PyJWT>=2.8.0
passlib[bcrypt]>=1.7.4
psycopg2-binary>=2.9.9
redis>=5.0.1
aio-pika>=9.4.0
minio>=7.2.0
python-multipart>=0.0.9
pydantic-settings>=2.2.1
asyncpg>=0.29.0
